{% extends "base.html" %}

{% block title %}Home | Flasky{% endblock %}

{% block content %}
<div class="page-heading">
  <h1>Hello, {% if name %}{{ name }}{% else %}tom{% endif %}!</h1>
  {% if not known %}
  <p>Pleased to meet you!</p>
  {% else %}
  <p>Pleased to see you again!</p>
  {% endif %}

  <hr>

  <form method="POST" class="home-form">
    {{ form.hidden_tag() }}
    <div class="form-group mb-3">
      {{ form.name.label(class="form-label") }}
      {{ form.name(class="form-control") }}
    </div>
    {{ form.submit(class="btn btn-light border") }}
  </form>
</div>
{% endblock %}
